<div class="prod-details">
    <table>
        <thead>
            <tr>
                <td>S.No</td><td>Product Name</td><td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartDetails; let i = index;">
                <td>{{ i + 1}}</td><td>{{ item.mobile }}</td><td>{{ item.Price}}</td>                
            </tr>
            <tr>
                <td colspan="2">Total</td><td>{{ getTotal() }}</td>
            </tr>
        </tbody>
    </table>
</div>